version: '3.9'

services:
  backend:
    build: ./backend
    container_name: iris-backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    networks:
      - iris-net

  frontend:
    build: ./frontend
    container_name: iris-frontend
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true
    networks:
      - iris-net

networks:
  iris-net:
    driver: bridge
